body{ 
    background-color: antiquewhite;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonpedorro{
    background-color: darkgoldenrod;
    color: aliceblue;
    padding: 10px 20px;
    text-decoration: none;
}
.caja-principal{
    text-align: center;

}
